.step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-weight: bold;
    color: black;
}

.step.active {
    background-color: #000;
    color: white;
}

.progress-line {
    width: 40px;
    height: 4px;
    background-color: #ddd;
}

.progress-line.active {
    background-color: #000;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    border: 1px solid #c4c2c2;
    border-radius: 1rem;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 2rem;
    background-color: #ececec;
}

.basic-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.seat-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.equipment-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.facilities-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.accessibility-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.perks-container {
    border: 2px solid #c4c2c2;
    border-radius: .5rem;
    padding: 20px;
    background-color: #fff;
    margin-top: 1.5rem;
}

.separator-line {
    border: none;
    height: 2px;
    background-color: #1f1f1f;
    margin: 10px 0;
}